body {
    background-color: black;
}

img {
    width: 50%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    cursor: pointer;
    background-color: #ffffff;
    color: red;
    border-radius: 0;
    border: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 20px;
    z-index: 900;
    padding: 11px, 42px;
}